.vote-count-wrapper, .header-voting .voting-wrapper
{
    border-color: #434343;
}

.category-logo {
    float: none;
    display: inline;
    width: auto;
}

.category-logo.aspect-image img {
    width: auto;
}