.select-kit.combo-box .select-kit-header, .select-kit .select-kit-row.is-highlighted, .select-kit.combo-box .select-kit-row, .composer-popup.education-message {
    background: #343434
}

.select-kit .select-kit-row.is-selected.is-highlighted {
    background: #565656   
}

.category-name {
    color: #fff
}

.list-controls .combo-box .combo-box-header {
    background: #3b3b3b
}

.d-editor-textarea-wrapper, .user-menu .notifications .show-all .btn, #share-link {
    background: #3a3a3a
}

.heatmap-high, .heatmap-high a
{
    color: #ff6b6b; 
}

.presence-users {
    background-color: #2b2b2b
}

html {
    font-size: 14px;
}


.category-support .post-links-container, .category-support-ban-appeals .post-links-container {
  display: none !important;
}